diffusers
transformers
einops
huggingface_hub
opencv-python
trimesh
omegaconf
scikit-image
peft
jaxtyping
typeguard
pymeshlab
numpy
einops
omegaconf
scipy==1.11.4
pymeshlab==2022.2.post4
open3d
timm
kornia
cvcuda_cu12
gltflib
face_alignment
gdown
